@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../assets/background/roxo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.introducao {
  background-image: url(../assets/background/fundo\ leitura.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;

  color: rgb(0, 0, 0);
  font-size: 1rem;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 10em 5em 5em black;

  margin-right: 1.5rem;
  width: 50em;
}
.img {
  width: 50em;
}

.btn {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.btn > button {
  background: rgb(100, 237, 102);
  color: white;
  text-transform: uppercase;
  border: 2px;
  border-radius: 15px;
  padding: 15px;
}

h1 {
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

button {
  margin-top: 0.3rem;
  padding: 5px;
  border-radius: 2px;
}
